@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}
a {
    text-transform: uppercase;
    cursor: pointer;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 115px;
    background-color: black;
}
.header_logo {
    margin-left: 20px;
    width: 94px;
    height: 44px;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.nav-item {
    text-align: center;
}
.nav-link {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
    font-weight: 600;
}
.nav-link:hover {
    padding-bottom: 8px;
    border-bottom: 2px solid #EB5757;
}
.srch-img {
    transform: translateY(3px);
}
.header_side-container {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
}
.sgn-link {
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    margin-right: 32px;
}
.rgst-link {
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    margin-right: 32px;
}
.header_heart-img {
    margin-right: 19px;
}
.header_cart-img {
    margin-right: 11px;
}
.header_side_text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 65px;
}
.header_side-text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #FFFFFF;
}
.header_balance {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}

/* header end */

/* main */

.main {
    margin-top: 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* slider section */

.slider-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 98vw;
    height: 800px;
    background-image: url(./img/slider-bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slider {
    width: 400%;
    display: flex;
    transition: transform .5s;
}
.slider_container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.slider-one {
    
}
.slider-one_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    height: 480px;
    width: 563px;
}
.slider-one img {
    position: absolute;
    top: 0;
    right: 0;
}
.slider-one_title {
    text-align: start;
    text-transform: uppercase;
    font-size: 86px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
.slider-one-link {
    cursor: pointer;
}
.slider-one-button {
    width: 175px;
    height: 56px;
    border: 2px solid #000000;
    background: transparent;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.slider-one_right {
    width: 838px;
    height: 709px;
    position: relative;
    display: flex;
}
.slider-one_right_content {
    position: absolute;
}
.slider-one_right_content:first-child {
    left: 0;
    top: 6%;
}
.slider-one_right_content:last-child {
    right: 0;
}
.slider-two {
    background-color: black;
}
.slider-actions-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
.buttons-container {
    display: flex;
    width: 100px;
    height: 10px;
    justify-content: space-around;
}
.slider-actions_dots-container {
    display: flex;
    width: 100px;
    height: 22px;
    justify-content: space-between;
    align-items: center;
    margin-left: 28px;
    margin-bottom: 22px;
}
.switch-dots {
    border: 1px solid #828282;
    width: 18px;
    height: 18px;
    transition: .3s;
    cursor: pointer;
}
.switch-dots.active {
    background-color: black;
    border: 1px solid #000000;
    width: 22px;
    height: 22px;
}
.slider-actions_buttons-container {
    width: 103px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.btn-l {
    cursor: pointer;
}
.btn-r {
    cursor: pointer;
}

/* slider section end */
/* brands section */

.brands-section {
    margin-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 198px;
    border: 2px solid #C4C4C4;
    position: relative;
}
.test {
    width: 560px;
    background-color: #fff;
    transform: translateY(-100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.test p {
    text-align: center;
}

/* brands section end */